@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    box-sizing: border-box;
}

#contenir{
    width: 75% ;
    padding: 0%;
    margin: auto;
}
header div div,#rightHeder{
    display: inline-block;
    
}
#headerImg{
       float: right; 
       /* width: 20%; */
       margin:  2.5%;
}
header div div h1{
    font-family: 'Lobster', cursive;
    margin: 0%;
    padding: 0%;
    

}

header div div p{
    font-family: 'Dosis', sans-serif;
    color: rgb(143, 142, 142);
    margin: 0%;
}


hr{
    width: 100%;
    border-top: 6px dotted gray;

}

h2{  
    font-family: 'Open Sans Condensed', sans-serif;
 }
/* main section div:nth-child(3) img{
    background-color: indigo;
    width:100% */



/* } 

main section div :nth-child(2) img{
    float: right;
    width: 50%;
}
main section div:first-child {
    /* display: inline-block; */
    /* float: left;
    width:90%; */
    /* padding-top: 50%; */
/* 
}

main section div :nth-child(2) {
    display: inline-block;
} */

#mainP {
    text-align: center;
    font-family: 'Dosis', sans-serif; 
}

.input,.checkbox{
    padding-left: 30%;
}

#form   {
    background-image: url('/img/list-bg.png');
}

#form{
    font-family: 'Stint Ultra Condensed', cursive;
    color: grey;
}

hr{
    width: 100%;
    border-top: 6px dotted gray;

}

#vann{
    color: grey;
    font-family: 'Stint Ultra Condensed', cursive;
}

.P{
    color: grey;
    font-family:'Stint Ultra Condensed', cursive; 
    
}
article div h3 {
    display: inline-block;
     margin: 0%; 
}



article div p{
    padding-left:8% ;
    margin: 0%;
}

button{
    background-color: brown;
    color: white;
    float: right;
    width: 20%;
    padding: 10px;
}


footer div h2 {
    display: flex;
    flex-direction: row;
  }
  footer div h2:before,footer div  h2:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  footer div  h2:before {
    margin-right: 10px
  }
  footer div h2:after {
    margin-left: 10px
  }
 footer p{
     text-align: center;
     font-family: 'Dosis', sans-serif; 
     color: grey;
 }






