@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    box-sizing: border-box;
}

#contenir{
    width:75% ;
    padding: 20%;
}
header div div,#rightHeder{
    display: inline-block;
    
}
#headerImg{
       float: right; 
       /* width: 20%; */
       margin-top:5%;
}
header div div h1{
    font-family: 'Lobster', cursive;
    

}

header div div p{
    font-family: 'Dosis', sans-serif;
    color: rgb(143, 142, 142);
}


hr{
    width: 100%;
    border-top: 6px dotted gray;

}

h2{  
    font-family: 'Open Sans Condensed', sans-serif;
}
main section div:nth-child(3) img{
    background-color: indigo;
    width:100%

}

