@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    box-sizing: border-box;
}

#contenir{
    width: 75% ;
    padding: 0%;
    margin: auto;
}
header div div,#rightHeder{
    display: inline-block;
    
}
#headerImg{
       float: right; 
       /* width: 20%; */
       margin-top:5%;
}
header div div h1{
    font-family: 'Lobster', cursive;
    

}

header div div p{
    font-family: 'Dosis', sans-serif;
    color: rgb(143, 142, 142);
}


hr{
    width: 100%;
    border-top: 6px dotted gray;

}

h2{  
    font-family: 'Open Sans Condensed', sans-serif;
 }
/* main section div:nth-child(3) img{
    background-color: indigo;
    width:100% */



/* } 

main section div :nth-child(2) img{
    float: right;
    width: 50%;
}
main section div:first-child {
    /* display: inline-block; */
    /* float: left;
    width:90%; */
    /* padding-top: 50%; */
/* 
}

main section div :nth-child(2) {
    display: inline-block;
} */

#mainP {
    text-align: center;
    font-family: 'Dosis', sans-serif; ;
}

.input,.checkbox{
    padding-left: 30%;
}

#form   {
    background-image: url('/img/list-bg.png');
}

#form{
    font-family: 'Stint Ultra Condensed', cursive;
    color: grey;
}

hr{
    width: 100%;
    border-top: 6px dotted gray;

}

#vann{
    color: grey;
    font-family: font-family: 'Stint Ultra Condensed', cursive;
    
}





